<header class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 dark:text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">ToonBrothel</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href='/gallery' class="mr-5 dark:hover:text-gray-400 hover:text-gray-900">Gallery</a>

    </nav>

    <button id="switchTheme" class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0">
    <i id="swThemeIcon" class="las la-2x"></i>
    </button>
  </div>
</header>
<script>
  let themeIcon=document.getElementById('swThemeIcon').classList;
  if(localStorage.theme==='dark'){
    themeIcon.remove('la-moon');
    themeIcon.add('la-sun');
  }
  else{
    themeIcon.remove('la-sun');
    themeIcon.add('la-moon');
  } 
</script>