{% extends 'base.html' %}

{% load static %}
  
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-contain object-center rounded" src="{{cameras.cctvpic}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{cameras.cctvname}}</h1>
        <p class="leading-relaxed">{{cameras.cctvdesc}}</p>
        <div class="flex">
          <h2 class="title-font font-medium text-2xl mx-10 text-gray-900">{{cameras.cctvprice}}</h2>
            <a href="https://api.whatsapp.com/send/?phone=919575822627">
              <button class=" flex ml-auto text-white bg-yellow-500 border-0 py-2 px-12 focus:outline-none hover:bg-yellow-600 rounded">Contact to buy</button>

            </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}